---
import pant from 'nearest-pantone';

const { name, hex, pantone, cmyk, textColour } = Astro.props;

if(!hex) return

const colour = hex
const url = "https://www.thecolorapi.com/id?hex=" + colour
const response = await fetch(url);
const data = await response.json();

async function getPantone(v) {
    return pant.getClosestColor(v)
}
const pantoneColor = await getPantone(data?.hex?.value) 
let pantoneValue  = pantoneColor?.pantone
if(pantone) pantoneValue = pantone

let cmykValue = data.cmyk.value
cmykValue = cmykValue.replace('cmyk','')
cmykValue = cmykValue.replace('(','')
cmykValue = cmykValue.replace(')','')
if(cmyk) cmykValue = cmyk

let rgb = data.rgb.value
rgb = rgb.replace('rgb','')
rgb = rgb.replace('(','')
rgb = rgb.replace(')','')

---

<div class="colour">
<div class="block-colour" style={`color: ${textColour || data.contrast.value}; background-color:${data.hex.value}`}>

        <span class="name">{name}</span><br>

        <div class="colour-values">
            <div class="label">HEX</div><div class="value">{data.hex.value}</div>
            <div class="label">RGB</div><div class="value">{rgb}</div>
            <div class="label">CMYK</div><div class="value">{cmykValue}</div>
            {pantoneValue && ( <div class="label">Pantone</div><div class="value">{pantoneValue}</div> )}
        </div>
    </div>
</div>

<style lang="scss" scoped>
.block-colour {
    padding:24px;
    // padding-top:4em;
}

.name {
    font-size:1.4em;
}

.colour {
    display: inline-block;
    width: 100%;
}

.label{
    user-select: none;
}

.colour-values{
    margin-top:3em;
    display:inline-grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 24px;
    .value {
        font-variant-numeric: tabular-nums;
    }
}
</style>
